<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/estilo.css">
    
    <title>Mi jardin</title>
</head>
<body>
    <div class="img_logo"> <img src="../../assets/img/log.png" alt="alt" height="200"/>
        
    </div>
        
    <h1 class="titulo" >THE GARDEN</h1> <br>
<div class="contenedor_formulario"   >
     <form method="POST" id="from_categorias" >
       

     <label for="id">Id</label>
     <input  id="id" name ="id" placeholder="ingrese id" ><br><br>

     <label for="nombre">Nombre</label>
     <input  id="nombre" name ="nombre" placeholder="ingrese nombre" ><br><br>

     <label for="categoria">Categoria</label>
     <input  id="categoria" name ="categoria" placeholder="ingrese categoria" ><br><br>

     <label for="precio">Precio</label>
     <input  id="precio" name ="id" placeholder="ingrese precio" ><br><br>
        
     <h3>Cargar imagen</h3>
     <input type="file"  ><br><br>
        
         

    <label for="comentario">comentario</label><br>
    <textarea name="comentario" id="comentario"  cols="30" rows="10"></textarea>
    <br><br>
    <button type="submit">Guardar</button>      <button type="reset">Cancelar</button>

        
       
        <p class="texto">Creado por M Montivero</p>
        
        </form>
</div>
</body>
</html>