body {height:500px}
body {background: url(../img/fondo.jpeg)}
body{text-align: center}




h1.titulo {color:brown;}

h1.titulo{font-family: cursive;}

/* marcos del formulario*/



.contenedor_formulario{display: flex ;
                       border: 20px #00870f solid;
                       border-radius: 40px;
                       width: 35%;
                       margin: 0 auto;
                       background: #ccff66;
                       font-weight: bold;
                       width: 350px;
                       height: 650px}
                       
                       